.case {
  background-color: @background-grey;
}

.case__wrapper {
  max-width: 600px;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.case__content {
  margin-bottom: 40px;
}

.case__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}

.case-discription {
  margin: 0;
  margin-bottom: 20px;
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.case__details {
  max-width: 400px;
  margin: 0 auto;
}

.case__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}

.case__item {
  text-align: center;
  width: 124px;
}

.case__value {
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: uppercase;
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid @special-grey;
  border-radius: 3px;
}

.case__outline {
  font-family: @arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
  display: inline-block;
  margin-top: -8px;
  background-color: @background-grey;
  width: 66%;
}

.case__total {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  text-align: center;
}

@media (min-width: @tablet) {
  .case {
    background-color: @white;
  }

  .case__wrapper {
    padding-top: 43px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1024px;
  }

  .case__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .case-discription {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding-right: 6px;
  }

  .case__details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    align-content: center;
    justify-content: space-between;
    max-width: 1024px;
  }

  .case__list {
    margin-bottom: 0;
  }

  .case__item {
    width: 162px;
  }

  .case__item:first-of-type {
    margin-right: 42px;
  }

  .case__value {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 18px;
  }

  .case__outline {
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
    width: 79%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .case__total {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 11px;
  }

  .case__total-outline {
    margin-bottom: 9px;
  }
}

@media (min-width: @desktop) {
  .case__wrapper {
    max-width: 1220px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .case__content {
    padding-top: 43px;
    max-width: 436px;
    width: 50%;
    margin: 0;
  }

  .case__title {
    margin-bottom: 146px;
  }

  .case-discription {
    margin-bottom: 69px;
    padding-right: 0;
  }

  .case__details {
    width: 436px;
    margin: 0;
    justify-content: flex-start;
  }

  .case__list {
    margin: 0;
    margin-bottom: 55px;
  }

  .case__total {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }

  .case__total-outline {
    margin-right: 63px;
    margin-bottom: 0;
  }
}
