
// тут не работает тема с отступами между элементами - элемент списка не того же размера что иконка
.features__wrapper {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: @tablet) {
    padding-top: 45px;
    padding-bottom: 47px;
    border-bottom: 1px solid @input-border;
  }

  @media (min-width: @desktop) {
    padding-top: 71px;
    padding-bottom: 69px;
    border: none;
    margin: 0 auto;
  }
}

.features__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 20px;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 154px;
    row-gap: 37px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 95px;
  }
}

.features__item {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 111px;
    padding-bottom: 57px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    display: inline-flex;
    width: 60px;
    height: 60px;

    @media (min-width: @tablet) {
      width: 80px;
      height: 80px;
      top: 0;
      left: 0;
    }
  }
}

.features__item--leaf::before {
  background-image: url("/img/vector-images/icon_leaf.svg");
}

.features__item--tub::before {
  background-image: url("/img/vector-images/icon_tub.svg");
}

.features__item--eat::before {
  background-image: url("/img/vector-images/icon_eat.svg");
}

.features__item--alarm::before {
  background-image: url("/img/vector-images/icon_alarm.svg");
}

.features__descriptions {
  margin: 0;
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  padding-left: 80px;
  display: flex;

  @media (min-width: @tablet) {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
