.features__wrapper {
  max-width: 600px;
  padding-top: 10px;
  padding-bottom: 29px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.features__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 0;
  margin-bottom: 40px;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    display: inline-flex;
    width: 60px;
    height: 60px;
  }
}

.features__item--leaf::before {
  background-image: url("/img/vector-images/icon_leaf.svg");
}

.features__item--tub::before {
  background-image: url("/img/vector-images/icon_tub.svg");
}

.features__item--eat::before {
  background-image: url("/img/vector-images/icon_eat.svg");
}

.features__item--alarm::before {
  background-image: url("/img/vector-images/icon_alarm.svg");
}

.features__descriptions {
  margin: 0;
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  padding-left: 80px;
  padding-top: 3px;
}

@media (min-width: @tablet) {
  .features__wrapper {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 46px;
    border-bottom: 1px solid @input-border;
  }

  .features__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .features__list {
    counter-reset: num;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }

  .features__item {
    min-height: 280px;
    margin-bottom: 0;
    counter-increment: num;
  }

  .features__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }

  .features__item::after {
    content: counter(num);
    display: inline-block;
    position: absolute;
    min-width: 112px;
    color: @basic-grey;
    text-align: center;
    font-family: @oswald;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    top: 0;
    left: 113px;
  }

  .features__descriptions {
    padding-top: 151px;
    padding-left: 0;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop) {
  .features__wrapper {
    max-width: 1220px;
    padding-top: 40px;
    padding-bottom: 16px;
    border: none;
  }

  .features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 79px;
  }

  .features__descriptions {
    padding-right: 0;
  }
}
