.plan {
  color: @black;
}

.plan__wrapper {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.plan__module {
  background-color: @basic-grey;
  padding: 30px 20px 19px 20px;
}

.plan__module--slim {
  margin-bottom: 20px;
}

.plan__module-title {
  position: relative;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 71px;
  margin: 0;
  margin-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    background-color: @green;
    top: -6px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.plan__module--slim .plan__module-title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/vector-images/module-slim-vector.svg");
  width: 36px;
  height: 50px;
  top: -9px;
  left: 9px;
}

.plan__module--pro .plan__module-title::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url("../img/vector-images/module-pro-vector.svg");
  width: 67px;
  height: 28px;
  top: 5px;
  left: -7px;
}

.plan__module-description {
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 22px;
  border-bottom: 1px solid @border-grey;
  margin: 0;
  margin-bottom: 19px;
}

.plan__module-link {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  display: inline-flex;
  align-items: center;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.plan__module-link::before {
  content: "";
  background-color: @black;
  order: 1;
  width: 18px;
  height: 2px;
  margin-left: 16px;
  transition: width 0.3s ease-out;
}

.plan__module-link:hover::before {
  width: 26px;
}

.plan__module-link:active::before {
  opacity: 0.3;
}

.plan__module-link::after {
  content: "";
  order: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent @black;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .plan__wrapper {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
    display: grid;
    row-gap: 30px;
  }

  .plan__module {
    padding: 77px 62px 57px 53px;
    display: flex;
    flex-direction: column;
  }

  .plan__module--slim {
    margin-bottom: 0;
  }

  .plan__module-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding: 0;
    padding-right: 254px;
  }

  .plan__module-title::before {
    width: 200px;
    height: 200px;
    top: 15px;
    left: auto;
    right: 0;
  }

  .plan__module--slim .plan__module-title::after {
    width: 140px;
    height: 194px;
    background-image: url("../img/vector-images/module-slim-tablet.svg");
    top: 4px;
    left: auto;
    right: 30px;
  }

  .plan__module--pro .plan__module-title::after {
    width: 269px;
    height: 112px;
    background-image: url("../img/vector-images/module-pro-tablet.svg");
    top: 58px;
    left: auto;
    right: -35px;
  }

  .plan__module-description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-bottom: 52px;
    padding: 0;
    width: 58%;
  }

  .plan__module-link {
    font-size: 20px;
    line-height: 30px;
  }

  .plan__module-link::before {
    margin-left: 25px;
  }
}

@media (min-width: @desktop) {
  .plan__wrapper {
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 82px;
    padding-bottom: 31px;
  }

  .plan__module {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 77px 51px 59px 52px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 30%;
    margin-bottom: 0;
  }

  .plan__module-title {
    padding-left: 162px;
    margin-bottom: 73px;
    padding-right: 0;
  }

  .plan__module-title::before {
    width: 100px;
    height: 100px;
    top: -30px;
    left: 0;
    right: auto;
  }

  .plan__module--slim {
    margin-right: 40px;
  }

  .plan__module--pro {
    margin-left: 40px;
  }

  .plan__module--slim .plan__module-title::after {
    width: 70px;
    height: 97px;
    background-image: url("../img/vector-images/module-slim-desktop.svg");
    top: -36px;
    left: 15px;
    right: auto;
  }

  .plan__module--pro .plan__module-title::after {
    width: 134px;
    height: 56px;
    background-image: url("../img/vector-images/module-pro-desktop.svg");
    right: auto;
    top: -10px;
    left: -19px;
  }

  .plan__module-description {
    margin-bottom: 27px;
    width: 100%;
  }

  .plan__module-link::before {
    margin-left: 28px;
  }
}
