.plan {
  color: @black;
}

.plan__wrapper {
  padding: 0 20px;
  padding-top: 10px;
  display: grid;
  row-gap: 20px;
}

.plan__module {
  background-color: @basic-grey;
  padding: 30px 20px 22px 20px;
}

.plan__module__title {
  position: relative;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 71px;

  &::before {
    content: "";
    position: absolute;
    background-color: @green;
    top: -5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.plan__module--slim .plan__module__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/vector-images/module-slim-vector.svg");
  width: 36px;
  height: 50px;
  top: -10px;
  left: 10px;
}

.plan__module--pro .plan__module__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/vector-images/module-pro-vector.svg");
  width: 67px;
  height: 28px;
  top: 5px;
  left: -5px;
}

.plan__module__description {
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid @border-grey;
  margin-bottom: 19px;
}

.plan__module__link {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;

  &:active {
    opacity: 0.3;
  }
}
