.promo {
  font-family: @oswald;
  color: @white;
  text-align: center;
}

.promo__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("/img/background-promo.png");
  background-repeat: no-repeat;
  background-color: @green;
  background-size: 100%;
  background-position: center;
  min-height: 302px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
}

.promo__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 150px;
}

.promo__button-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 138px;
  position: relative;
  padding-bottom: 10px;
}

.promo__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: -135px;
  right: 0;
  left: 0;
  background-image: url("/img/promo-image/promo-image-mobile.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .promo {
    color: @black;
    text-align: start;
    margin-bottom: 0;
  }

  .promo__wrapper {
    background: @white;
    padding-top: 27px;
    padding-left: 117px;
    padding-right: 30px;
    padding-bottom: 20px;
    min-height: 181px;
    max-width: 1024px;
    margin: 0 auto;
  }

  .promo__header {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin-bottom: 41px;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 0;
  }

  .promo__button-wrapper {
    max-width: 1024px;
    padding-right: 30px;
    padding-left: 117px;
    padding-bottom: 526px;
    padding-top: 29px;
  }

  .promo__button::after {
    width: 709px;
    height: 609px;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/img/promo-image/index-can-tablet.png");
  }
}

@media (min-width: @desktop) {
  .promo::before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    background-color: @green;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/img/promo-image/promo-image-desktop.png");
    background-size: cover;
    background-position: 0 0;
    top: 0;
    left: 50%;
    right: 0;
    z-index: -1;
    min-height: 694px;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("/img/promo-image/promo-image@2x.png");
      background-size: 720px auto;
    }
  }

  .promo__wrapper {
    max-width: 1220px;
    padding-left: 190px;
    background-color: transparent;
    padding-top: 91px;
    min-height: 180px;
  }

  .promo__header {
    margin-bottom: 40px;
  }

  .promo__button-wrapper {
    max-width: 1220px;
    padding-left: 190px;
    padding-bottom: 185px;
    padding-top: 32px;
  }

  .promo__button::after {
    width: 552px;
    height: 499px;
    bottom: 0;
    top: -282px;
    left: 228px;
    background-image: url("/img/promo-image/index-can-desktop.png");
  }
}
