.slider__wrapper {
  margin: 0 auto;
  max-width: 280px;
}

.slider__images {
  margin-bottom: 21px;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 210px;
  margin: 0 auto;
}

.slider__button {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.slider__button--before {
  margin-left: 6px;
}

.slider__button--after {
  margin-right: 5px;
}

.slider__scale {
  background-color: @white;
  border: 1px solid @special-grey;
  box-sizing: border-box;
  border-radius: 6px;
  width: 86px;
  height: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6px;
}

.slider__toggle {
  position: absolute;
  background-color: @green;
  width: 36px;
  left: 6px;
  top: 3px;
  height: 6px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  transition: left 0.7s ease-out 0s;
}

@media (min-width: @tablet) {
  .slider {
    background-color: @background-grey;
    position: relative;
    padding-bottom: 60px;
  }

  .slider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 177px;
    background-color: @white;
    top: 0;
    left: 0;
    display: block;
  }

  .slider__wrapper {
    max-width: 591px;
  }

  .slider__images {
    margin-bottom: 36px;
  }

  .slider__controls {
    width: 592px;
    padding-left: 7px;
    padding-right: 4px;
    box-sizing: border-box;
  }

  .slider__button {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }

    &:focus {
      border-bottom: none;
    }
  }

  .slider__scale {
    background-color: @scale-color;
    border: none;
    width: 426px;
    height: 6px;
    padding: 0;
    margin: 0 10px;
  }

  .slider__toggle {
    left: 46%;
    top: -14px;
    width: 34px;
    height: 34px;
    background-color: @white;
    border: 1px solid @special-grey;
    border-radius: 50%;
    padding: 0;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      border: 1px solid @green;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }

    &:focus {
      border: 1px solid @green;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }

    &::after {
      content: "";
      position: absolute;
      left: 12px;
      top: 12px;
      background-color: @green;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}

@media (min-width: @desktop) {
  .slider {
    background-color: transparent;
    width: 500px;
    position: absolute;
    right: 91px;
    top: -177px;
    padding: 0;
  }

  .slider::before {
    display: none;
  }

  .slider__wrapper {
    margin: 0;
  }

  .slider__images {
    margin-bottom: 29px;
  }

  .slider__controls {
    padding-left: 7px;
    padding-right: 3px;
  }
}
