.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__button {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  border: none;
}
