.selection {
  border-top: 1px solid @border-grey;
}

.selection__title-wrapper {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 39px;
  margin: 0 auto;
}

.selection__title {
  margin-bottom: 37px;
}

.selection__description {
  margin-bottom: 19px;
}

.selection__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.selection__fieldset-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.selection__fieldset--plan {
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;
  padding-top: 22px;
  padding-bottom: 19px;
}

.selection__fieldset--contacts {
  margin-top: 26px;
  margin-bottom: 9px;
}

.selection__fieldset--cat-info {
  margin-bottom: 10px;
}

.selection__fieldset--comment {
  margin-bottom: 9px;
}

.selection__fieldset--additional {
  margin-bottom: 35px;
}

.selection__legend {
  margin-bottom: 34px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.special-title__text--additional {
  max-width: 187px;
}

.selection__field {
  margin-bottom: 14px;
}

.selection__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.selection__item {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.selection__footer {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 32px;
}

.selection__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
}

.selection__mark {
  margin: 0;
  font-family: @arial;
  font-style: normal;
  line-height: 16px;
  color: @black;
  text-align: center;
}

.selection__mark small {
  font-size: 14px;
}

@media (min-width: @tablet) {
  .selection {
    border-top: none;
  }

  .selection__title-wrapper {
    max-width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 28px;
    padding-bottom: 62px;
    margin: 0 auto;
  }

  .selection__title {
    margin-bottom: 55px;
  }

  .selection__fieldset-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 68px;
  }

  .selection__fieldset--cat-info {
    margin-bottom: 52px;
  }

  .selection__fieldset--plan {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 77px;
  }

  .selection__fieldset--contacts,
  .selection__fieldset--comment {
    margin-bottom: 45px;
  }

  .selection__fieldset--additional {
    margin-bottom: 22px;
  }

  .selection__legend {
    margin-bottom: 71px;
  }

  .special-title__text--additional {
    max-width: 592px;
  }

  .selection__fieldset--additional .selection__legend {
    margin-bottom: 55px;
  }

  .selection__field {
    margin-bottom: 20px;
  }

  .selection__list {
    border: 1px solid @border-grey;
    padding: 23px 27px;
  }

  .selection__fieldset--additional .selection__list {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
    padding: 0;
  }

  .selection__item {
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .selection__fieldset--additional .selection__item {
    margin-bottom: 32px;
  }

  .selection__footer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 70px;
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 63px;
    align-items: center;
  }

  .selection__button {
    width: 100%;
    padding: 16px;
    margin-bottom: 0;
    font-size: 20px;
  }

  .selection__mark {
    text-align: start;
  }

  .selection__mark small {
    font-size: 16px;
  }
}

@media (min-width: @desktop) {
  .selection__title-wrapper {
    max-width: 1220px;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .selection__row-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
  }

  .selection__fieldset-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .selection__fieldset--cat-info {
    margin-right: 80px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
  }

  .selection__fieldset--plan {
    margin: 0;
    width: 100%;
  }

  .selection__field-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 77px;
  }

  .selection__fieldset--contacts,
  .selection__fieldset--comment {
    margin-bottom: 48px;
  }

  .selection__fieldset--additional .selection__list {
    display: grid;
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
  }

  .selection__fieldset--additional .selection__item {
    margin-bottom: 0;
  }

  .selection__fieldset--additional {
    margin-bottom: 61px;
  }

  .selection__list {
    padding: 26px 27px;
  }

  .selection__footer {
    max-width: 1220px;
    margin-bottom: 82px;
    grid-template-columns: 1fr 1fr;
    column-gap: 82px;
  }
}
