.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.product__link-image {
  width: 140px;
  height: 144px;
  overflow: hidden;
}

.product__image {
  display: block;
}

.product__content {
  padding-bottom: 22px;
}

.product__link-title {
  text-decoration: none;
}

.product__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.product__info {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}
