.contacts__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &--additional {
    background-color: @basic-grey;
  }

  @media (min-width: @desktop) {
    width: 565px;
    padding-top: 60px;
    padding-bottom: 56px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.contacts__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @contacts-black;
  margin: 0;

  @media (min-width: @desktop) {
    width: 163px;
  }
}

.contacts__address {
  font-family: @arial;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;

  @media (min-width: @desktop) {
    width: 155px;
  }
}

.contacts__map-image {
  display: none;
  margin: 0 auto;
}

.contacts__map {
  position: relative;
}

.contacts iframe {
  border: none;
  display: block;
}
