.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;

  @media (min-width: @tablet) {
    justify-content: flex-end;
    min-width: 163px;
  }
}

.copyright__link {
  font-family: @arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  text-decoration: none;

  @media (min-width: @tablet) {
    margin-right: 22px;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  color: @social-grey;
  display: block;

  &:hover {
    color: @green;
  }

  &:active {
    color: @green;
    opacity: 0.3;
  }
}
