.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  font-family: @arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  text-decoration: none;
  margin-right: 10px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  &:hover {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }
}

.copyright__icon {
  color: @social-grey;
  display: block;
}

@media (min-width: @tablet) {
  .copyright__link {
    margin-right: 24px;
  }
}
