.main-nav__list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  font-family: @oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

  color: @black;
}
