.page-footer__info {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  text-align: center;
  padding: 39px 20px 22px 20px;
  margin: 0 auto;
  max-width: 600px;
  box-sizing: border-box;
}

.page-footer__logo {
  margin-bottom: 32px;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__copyright {
  margin-top: 22px;
}

// min-height = 768px
@media (min-width: @tablet) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 58px 30px 55px 30px;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    margin-top: 0;
  }
}

@media (min-width: @desktop) {
  .page-footer__wrapper {
    max-width: 1220px;
    padding-top: 58px;
    padding-bottom: 58px;
  }
}
