.page-footer__info {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;
  display: grid;
  justify-items: center;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 32px;

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: flex-start;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  display: block;
}

.page-footer__copyright {
  padding-top: 22px;

  @media (min-width: @tablet) {
    padding-top: 0;
  }
}
