.social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  min-width: 320px;
  border-bottom: 1px solid @border-grey;
  border-top: 1px solid @border-grey;

  @media (min-width: @tablet) {
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
    min-width: 132px;
  }
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.social__link {
  text-decoration: none;
  color: @social-grey;

  &:hover {
    color: @green;
  }

  &:active {
    color: @green;
    opacity: 0.3;
  }
}

.social__image {
  display: block;
}
